<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .clearfix {
            width: 200px;
            height: 200px;
            background: green;
            overflow: hidden;
        }

        .clearfix>li {
            width: 200px;
            height: 200px;
            background: green;
            display: block;
        }
        h5{
            background:yellow;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="header">
        <a href="/">首页</a>
        <a href="/article">文章</a>
        <a href="/user">用户</a>
    </div>
    <div class="banner">

        <ul class="clearfix">
            <%for(var i = 0;i<banners.length;i++){%>
                <li>
                    <img src="images/1.png" alt="">
                    <div class="text-box">
                        <h2>
                            <%=banners[i].title %>
                        </h2>
                        <p>
                            <%=banners[i].sub_title %>
                        </p>
                    </div>
                </li>
                <%}%>
        </ul>
        <ul>

            <%for(var i = 0;i<news.length;i++){%>
                <li>
                   
                    <a href="/article?id=<%=news[i].ID %>">
                        <h2>
                            <%=news[i].title %>
                        </h2>
                        <h5>
                            <%=news[i].summary %>
                        </h5>
                    </a>
                </li>
                <%}%>

        </ul>
    </div>
</body>

</html>